li.list-inline-item {
    display: inline-block;
    margin-right: 0.5rem;
    margin-bottom: 0.2rem;
    margin-left: 0.2rem;
}

.list-inline-item {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    border: 1px solid #007bff;
    border-radius: 4px;
    color: #007bff;
    font-weight: bold;
}

.list-inline-item:hover {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

h6.card-title {
    border: 1px solid #007bff;
    border-radius: 4px;
    color: #007bff;
    display: inline-flex;
    align-items: center;
    padding: 5px;
    text-decoration: underline;
    width: 85%;
}

a:hover h6.card-title,
a:focus-visible h6.card-title {
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  transform: translateX(2px);
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

img.course-title-icon{
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    margin-right: 0.5em;
    vertical-align: middle;
}

.form-select {
    box-shadow: 10px 10px 20px rgba(0, 106, 179, 0.5);
}

h1.fw-light span {
    border-radius: 20px;
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}


p.lead span {
    border-radius: 20px;
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}


.release-not-found {
    display: inline-block;
    color: #007bff;
    font-weight: bold;
    background-color: #fee;
    padding: 0.5em 1em;
    margin-top: 0.5em;
    border: 1px solid #007bff;
    border-radius: 4px;
}
